/* 
Google-font
*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@500;600;700&display=swap');
/* 
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif; 
*/


/* 
Basic CSS
*/
body{ 
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #646464;
    line-height: 1.7;
}

h1,
h2,
h3,
h4{
    font-family: 'Poppins', sans-serif; 
    font-weight: 500;
    color: #212121;
}

.theme-button{
    text-decoration: none;
    display: inline-block;
    background-color: #37806b; 
    text-transform: capitalize;
    color: #fff; 
    border-radius: 15px 0px;
    padding: 10px 20px;
    transition: 0.2s;
}

.theme-button:hover{
    font-size: 18px;
    text-decoration: none;
    background-color: #caa892; 
    text-transform: capitalize;
    color: black; 
    border-radius: 15px 0px;
    padding: 10px 20px;
}

.design-image{
    position: relative;
    z-index: 1;
}

.design-image img{
    border-radius: 140px 0px;
    width: 100%;
}

.design-image::after{
    position: absolute;
    content: "";
    bottom: -20px;
    left: 20px;
    right: -20px;
    top: 20px;
    z-index: -1;
    border-radius: 140px 0px;
    border: 5px solid #B0855B;
}

.design-image-two{
    position: relative;
    z-index: 1;
}

.design-image-two img{
    border-radius: 140px 0px;
    width: 100%;
}

.design-image-two::after{
    position: absolute;
    content: "";
    left: -20px;
    top: -20px;
    right: 20px;
    bottom: 20px;
    z-index: -1;
    border-radius: 140px 0px;
    border: 5px solid #B0855B;
}

.section-heading h4{
    font-size: 20px;
    text-transform: uppercase;
    color: #646464;
    font-weight: 600;
}

.section-heading h3{
    font-size: 48px;
}

.design-text h5{
    font-family: 'Open Sans', sans-serif;
    font-size: 250px;
    font-weight: 700;
    background-image: url(assets/img/text-bg.png);
    -webkit-background-clip: text;
    color: transparent;
    background-position: center;
}

@media (max-width: 991px){
    .design-image{
        padding-right: 20px;
    }
    .design-image::after{
        left: 20px;
        right: 0;
        top: 20px;
        bottom: -20px;
    }
    .design-image-two{
        padding-left: 20px;
    }
    .design-image-two::after{
        left: 0px;
        right: 20px;
        top: -20px;
        bottom: 20px;
    } 
}

/* 
Header area CSS
*/
.header-area{
    padding: 30px 0;
}
.header-area .nav-item{
    margin-left: 30px;
}
.header-area .nav-link{
    text-transform: uppercase;
    color: #111;
    font-weight: 600;
}
.header-area .nav-link.active{
    color: #646464;
}
.header-area .nav-item:last-child{
    margin-left: 45px;
}
.header-area .nav-item:last-child .nav-link{
    background-color: #caa892; 
    text-transform: capitalize;
    color: #fff; 
    border-radius: 15px 0px;
    padding: 10px 20px;
    transition: 0.2s;
}
.header-area .nav-item:last-child .nav-link:hover{
    font-size: 18px;
    background-color: #37806b; 
    text-transform: capitalize;
    color: #fff; 
    border-radius: 15px 0px;
    padding: 10px 20px;
}


@media (max-width: 991px){
    .header-area .nav-item:last-child{
        margin-left: 5px;
    }
    .header-area .nav-item:last-child .nav-link{
        text-align: center;
    }
    .header-area .nav-item{
        margin-left: 5px;
        align-items: center;
    }
    .header-area .navbar-toggler{
        box-shadow: none;
        border: none;
    } 
} 


/* 
Hero area CSS
*/
.hero-area{
    padding: 60px 0;
}
.hero-text h3{
    font-size: 20px;
    color: #646464;
    text-transform: uppercase;
}
.hero-text h2{
    font-size: 60px;
    color: #212121;
    text-transform: capitalize;
}
.hero-text a{
    display: inline-block;
    margin-top: 20px;
}
.hero-image img{
    width: 100%;
    border-radius: 140px 0px;
}

@media (max-width: 991px){
    .hero-area{
        text-align: center;
        padding: 20px 0;
        margin-bottom: 50px;
    }
    .hero-text h3{
        font-size: 15px;
        color: #646464;
        text-transform: uppercase;
    }
    .hero-text h2{
        font-size: 30px;
        color: #212121;
        text-transform: capitalize;
    }
    .hero-area-image{
        order: -1;
    }
    .hero-area h3{
        padding-top: 40px;
    }
    .hero-text p{
        margin-bottom: 0;
    }
}

/* 
Service area  CSS
*/
.service-area{
    padding: 100px 0;
    position: relative;
}
.all-services{
    margin-top: 60px;
    position: relative;
}
.service-area .owl-nav{
    position: absolute;
    right: 0;
    top: -80px;
}
.service-area .owl-nav span{
    height: 30px;
    width: 30px;
    display: inline-block;
    border-radius: 50%;
    background-color: #fff;
    color: #646464;
    box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.3);
    transition: 0.2s;
}
.service-area .owl-nav span:hover{
    background-color: #37806b;
    color: #fff;
}
.service-area .owl-next{
    margin-left: 15px;
}
.single-service{
    background: #FFFFFF;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
    border-radius: 60px 0px;
    padding: 40px 20px 40px 35px;
    transition: 0.2s;
    cursor: pointer;
}
.single-service:hover{
    background-color: #caa892;
    color: #fff;
}
.single-service:hover h3{
    color: #fff;
}
.service-text p{
    margin-bottom: 0;
}
.service-area .design img{
    height: 100px;
}
.service-area .design{
    position: absolute;
    top: -50px;
}

@media (max-width: 991px){
    .service-area{
        text-align: center;
        padding: 70px 0;
        font-size: 15px;
    }
    .all-services{
        margin-top: 0;
    }
    .section-heading h3{
        padding-top: ;
    }
    .service-area-image{
        order: -1;
    }
    .service-area h3{
        padding-top: 10px;
    }
    .single-service img{
        height: 50px;
        width: 80px;
    }
    .service-area .owl-dots button{
        height: 15px;
        width: 15px;
        background-color: #37806b;
        display: inline-block;
        border-radius: 50%;
        margin: 5px;
    }
    .service-area .owl-dots button.active{
        background-color: #B0855B;
    }
}

/* 
About area CSS
*/
.about-area{
    padding: 100px 0;
    position: relative;
}
.about-area p{
    padding: 20px 0;
}
.about-area .design img{
    height: 100px;
}
.about-area .design{
    position: absolute;
    top: -50px;
    right: 0;
}

@media (max-width: 991px){
    .about-area{
        padding: 80px 0;
        text-align: center;
    }
    .section-heading h4 {
        margin-top: 0;
    }
    .about-image{
        margin-bottom: 50px;
    }
}


/* 
Success area CSS
*/
.success-area{
    padding: 100px 0;
    position: relative;
}
.success-area .theme-button{
    margin-top: 35px;
}
.success-area .design img{
    height: 100px;
}
.success-area .design{
    position: absolute;
    top: -50px;
}

@media (max-width: 991px){
    .success-area{
        padding: 80px 0;
        text-align: center;
    }
    .success-area .pe-5{
        padding-right: 0px !important;
    }.success-area .theme-button {
        margin-bottom: 50px;
    }
}


/* 
Work area CSS
*/
.work-area{
    padding: 100px 0;
    background-color: #f8f8f8;
    position: relative;
}

.all-work{
    margin-top: 100px;
}

.single-work{
    display: flex;
    justify-content: center;
}

.single-work-text{
    background: #FFFFFF;
    box-shadow: 0px 13px 16px rgba(0, 0, 0, 0.1);
    border-radius: 40px 0px;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.single-work-text::after{
    position: absolute;
    content: "";
    height: 50%;
    width: 33%;
    z-index: -1;
    right: -33%;
    bottom: 0;
    border-top: 3px solid #646464;
    border-right: 3px solid #646464;
}

.single-work-text.special::after{
    left: -33%;
    bottom: 1%;
    border-right: none;
}

.single-work-two .single-work-text::before{
    position: absolute;
    content: "";
    height: 50%;
    width: 33%;
    z-index: -1;
    right: -33%;
    bottom: 0;
    border-top: 3px solid #646464;
    /* border-right: 3px solid #646464; */
}

.single-work-three .single-work-text::before{
    position: absolute;
    content: "";
    height: 50%;
    width: 33%;
    z-index: -1;
    left: -33%;
    bottom: 0;
    border-top: 3px solid #646464;
    border-left: 3px solid #646464;
}

.single-work h3{
    font-size: 50px;
}
.special{
    margin-top: 100px;
}
.work-area .design img{
    height: 100px;
}
.work-area .design{
    position: absolute;
    top: -50px;
    right: 0;
}

@media (max-width: 991px){
    .work-area{
        padding: 60px 0;
    }
    .all-work{
        margin-top: 40px;
    }
    .single-work{
        margin-bottom: 30px;
    }
    .single-work-text::after{
        position: absolute;
        content: "";
        height: 50%;
        width: 33%;
        z-index: -1;
        right: -33%;
        bottom: 0;
        border: none;
        border-top: 3px solid #646464;
        border-right: 3px solid #646464;
        /* background-color: red; */
    }
    
    .single-work-text.special::after{
        left: 100%;
        top: -30px;
        height: 65%;
        bottom: 1%;
        border: none;
        border-right: 3px solid #646464;
        border-bottom: 3px solid #646464;
        /* background-color: green; */
    }
    
    .single-work-two .single-work-text::before{
        position: absolute;
        content: "";
        height: 130px;
        width: 33%;
        z-index: -1;
        right: -33%;
        top: -30px;
        border: none;
        /* border-top: 3px solid #646464; */
        /* background-color: blue; */
        /* border-right: 3px solid #646464; */
    }
    
    .single-work-three .single-work-text::before{
        position: absolute;
        content: "";
        height: 230px;
        width: 33%;
        z-index: -1;
        left: -33%;
        top: -66%;
        border: none;
        border-top: 3px solid #646464;
        border-left: 3px solid #646464;
        border-bottom: 3px solid #646464;
        /* background-color: yellow; */
    }
    .special{
        margin-top: 0;
    }
}

/* 
Testimonial area CSS
*/
.testimonial-area{
    padding: 100px 0;
    position: relative;
}

.testimonial-area .all-testimonial{
    margin-top: 70PX;
    position: relative;
}
.single-testimonial{
    padding: 20px;
}
.testimonial-content{
    display: flex;
    position: relative;
    padding: 40px ;
    z-index: 1;
    padding-left: 0;
}

.testimonial-content::after{
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 65px;
    z-index: -1;
    background: #FFFFFF;
    box-shadow: 5px 5px 15px 5px rgba(66, 96, 84, 0.15);
    border-radius: 70px 0px;
}

.testimonial-image{
    margin-right: 20px;
}
.testimonial-image img{
    width: 130px !important;
    height: 130px;
}

.testimonial-text h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 24px;
}

.testimonial-text h3 span{
    font-size: 16px;
    color: #646464;
}

.icon-img{
    position: absolute;
    right: 30px;
    top: 30px;
}

.icon-img img{
    width: 30px !important;
    height: auto;
}

.testimonial-area .owl-nav{
    position: absolute;
    right: 0;
    top: -80px;
}
.testimonial-area .owl-nav span{
    height: 30px;
    width: 30px;
    display: inline-block;
    border-radius: 50%;
    background-color: #fff;
    color: #646464;
    box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.3);
    transition: 0.2s;
}
.testimonial-area .owl-nav span:hover{
    background-color: #37806b;
    color: #fff;
}
.testimonial-area .owl-next{
    margin-left: 15px;
}

@media (max-width: 991px){
    .testimonial-content{
        padding: 40px 20px;
    }
    .testimonial-content .icon-img{
        top: 20px;
        right: 20px;
    }
    .single-testimonial h3{
        padding-top: 35px;
    }
    .single-testimonial p{
        margin-bottom: 0px;
        margin-top: 30px;
    }
    .testimonial-area .owl-dots{
        text-align: center;
    }
    .testimonial-area .owl-dots button{
        height: 15px;
        width: 15px;
        background-color: #37806b;
        display: inline-block;
        border-radius: 50%;
        margin: 5px;
    }
    .testimonial-area .owl-dots button.active{
        background-color: #B0855B;
    }
}

/* 
Blog area CSS
*/
.blog-area{
    padding: 100px 0;
    background-color: #f8f8f8;
}

.blog-area .section-heading{
    margin-bottom: 70px;
}
.blog-text{
    margin-top: 50px;
}

/* 
Signup area CSS
*/
.signup-area{
    padding: 100px 0;
    position: relative;
}
.signup-text h3{
    font-size: 48px;
    margin-bottom: 25px;
    padding-bottom: 25px;
    position: relative;
}

.signup-text h3::after{
    position: absolute;
    content: "";
    height: 1px;
    width: 400px;
    background-color: #c4c4c4;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

.signup-text p{
    margin-bottom: 45px;
}
.signup-area .form-control{
    background-color: #eee;
    border: none;
    font-size: 15px;
    border-radius: 20px 0 0 0;
    padding: 10px 15px;
}
.signup-area button {
    border: none;
    background-color: #37806b;
    color: #fff;
    border-radius: 0 0 20px 0;
    padding: 10px 40px;
}
.signup-area button:hover{
    background-color: #B0855B;
    color: #111;
}
.signup-area .design img{
    height: 100px;
}
.signup-area .design{
    position: absolute;
    top: -50px;
    right: 0;
}

/* 
Footer area CSS
*/
.footer-area{
    background-color: #f8f8f8;
    position: relative;
}
.footer-top{
    padding-top: 90px;
    padding-bottom: 70px;
}
.footer-about img{
    margin-bottom: 15px;
}
.footer-link h3{
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.footer-link address{
    line-height: 2.2;
}
.footer-area ul{
    margin: 0;
    padding: 0;
}
.footer-area ul li{
    list-style: none;
}
.footer-area ul li a{
    display: inline-block;
    padding: 5px;
    text-decoration: none;
    color: #646464;
    transition: 0.2s;
}
.footer-area ul li a:hover{
    display: inline-block;
    padding: 5px;
    text-decoration: none;
    color: #37806b;
    font-size: 15px;
}
.social-link a i{
    font-size: 20px;
    background-color: #d5d5d5;
    color: #f8f8f8;
    padding: 10px;
    border-radius: 50%;
    margin: 0 5px;
    transition: 0.2s;
}
.social-link a i:hover{
    font-size: 25px;
    background-color: #37806b;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    margin: 0 5px;
}
.footer-bottom{
    border-top: 1px solid #c4c4c4;
}
.footer-bottom-text a{
    text-decoration: none;
    color: #37806b;
}
.design img{
    height: 100px;
}
.design{
    position: absolute;
    top: -50px;
}

@media (max-width: 991px){
    .footer-area{
        background-color: #f8f8f8;
        text-align: center;
        line-height: 30px;
    }
    .footer-top .footer-link h3{
        padding-top: 15px;
    }
    .social-link a{
        margin-top: 50px;
    }
    .social-link h3{
        margin-bottom: 30px;
    }
}